.col-xs-8#users-content
  = render partial: "users/header"
  .list-group
    - if @user.tweets.empty?
      .list-group-item
        まだツイートはありません
    = render partial: "users/tweet", collection: @user.tweets
